@{
    ViewData["Title"] = "Sobre nosotros";
}

<div class="text-center">
    <h1 class="display-4">Sobre nosotros</h1>
    <p>Somos una web cuyo objetivo es facilitar la experiencia al espectador, 
        pudiendo ver en una misma web las películas disponibles en distintas plataformas.</p>

    <form method="post">
        <button asp-controller="Home" asp-action="Contact">Contacta con nosotros</button>
    </form>
</div>
